{% extends 'home.html'%}

{% block content %}

<div class="max-w-3xl mx-auto bg-white p-8 shadow-lg rounded-lg mt-10">
    <h2 class="text-2x1 font-bold mb-6 text-gray-800">Editar Usuario</h2>

    <form method="POST" action="{% url 'editar_usuario' usuario.id %}" class="space-y-4">
        {% csrf_token %}

        <div>
            <label class="block text-gray-700 font-medium mb-1">Nombre</label>
            <input type="text" name="first_name" value="{{ usuario.first_name }}" required class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div> 
                <label class="block text-gray-700 font-medium mb-1"></label>Apellido</label>
                <input type="text" name="last_name" value="{{ usuario.last_name }}" required
                class="w-full border border-gray-300 rounded-lg px-3 py-2 focus: outline-none focus: ring focus:ring-blue-200">
            </div>

            <div>
                <label class="block text-gray-700 font-medium mb-1">Edad</label>
                <input type="number" name="edad" value="{{ usuario.edad }}" min="0"
                class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:online-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label class="block text-gray-700 font-medium mb-1">Email</label>
                <input type="email" name="email" value="{{ usuario.email }}" required 
                class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:online-none focus:ring focus:ring-blue-200">
            </div>


            <div>
                 <label class="block text-gray-700 font-medium mb-1">Telefono</label>
                 <input type="text" name="telefono" value="{{ usuario.telefono }}"
                 class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div>
                <label class="block text-gray-700 font-medium mb-1">Fecha de Nacimiento</label>
                <input type="date" name="fecha_nacimiento" value="{{ usuario.fecha_nacimiento|date:'Y-m-d' }}"
                class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring focus:ring-blue-200">
            </div>

            <div class="flex justify-end gap-4 mt-6">
                <a href="{% url 'listar_usuarios' %}"
                class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-300 transition">
                Cancelar
            </a>
            <button type="submit"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">Guardar Cambios</button>

            </div>
        </form>
</div>

{% endblock %}