{% extends 'home.html' %}

{% block content %}
<h1>Usuarios</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Email</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
      <tr>
        <td>{{ u.first_name }}</td>
        <td>{{ u.last_name }}</td>
        <td>{{ u.edad }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.telefono }}</td>
      </tr>
      {% empty %}
      <tr>
        <td>No hay usuarios :C</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
