<!-- App/templates/listar.html -->
{% extends 'home.html' %}
{% load static %}
{% block content %}

<main> 
    <h1> Usuarios </h1>

    <div>
        <table> 
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                  <td>{{u.first_name}}</td>
                  <td>{{u.last_name}}</td>
                  <td>{{u.edad}}</td>
                  <td>{{u.email}}</td>
                  <td>{{u.telefono}}</td>
                  <td>
                    {% if request.user.is_superuser %}
                      <a href="{% url 'editar_usuario' u.id %}" class="btn-editar">Editar</a>
                    {% elif request.user.usuario %}
                      {% if request.user.usuario.categoria.name == 'ADMIN' %}
                        <a href="{% url 'editar_usuario' u.id %}" class="btn-editar">Editar</a>
                      {% else %}
                        --
                      {% endif %}
                    {% else %}
                      --
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                <tr>
                    <p> No hay usuarios :CCC </p>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}
